body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  margin: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #331;
}
div{
 text-align: center;
}
p{
	text-align: center;
}
hr {
padding: 5px 0;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
li {
	display:block;
}
section {
	text-align:center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}



#F{
    display: none;
}
.F{
    display: inline-block;
    background: #b6beff;
    padding: 5px 10px;
    cursor: pointer;
}
.G{
  
}
#F:checked+label+.G{
    display: none;
}


.box26 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}
.box26 p {
    margin: 0; 
    padding: 0;
}