body {
  background-color: #f2f2f2;
  justify-content: center;
  height: 100vh;
}

.clock {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.hour-hand,
.minute-hand,
.second-hand {
  background-color: #333;
  position: absolute;
  transform-origin: bottom center;
}

.hour-hand {
  width: 6px;
  height: 70px;
  top: 30px;
  left: 97px;
  border-radius: 6px 6px 0 0;
}

.minute-hand {
  width: 4px;
  height: 90px;
  top: 12px;
  left: 98px;
  border-radius: 4px 4px 0 0;
}

.second-hand {
  width: 2px;
  height: 100px;
  top: 0px;
  left: 99px;
  background-color: red;
}

