@charset "UTF-8";

body{
    margin:0;
}
header{
    background-color: #333;
    color: #fff;
    padding: 10px;
}
h1 {
    text-align: center;
    margin: 10px auto;
}
.member_list {
    width: 500px;
    margin: 0 auto;
    display: flex;
    list-style:none;
    text-align: center;
    padding: 0;
}
.member {
    flex: auto;
    font-weight: bold;
    font-size: 30px;
}
.member_link {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
}
.member_link:visited{
    color:#ffffff;
}
.task {
    margin-left: 8%;
    font-weight: bold;
}
.count_button_space {
    margin-left: 8%;
}
.background_color_change{
    margin-left: 8%;
}
.count_button {
    border-radius: 10px;
    transform: translateY(-6px);
    box-shadow:0 6px 0 0 #acacac;
}

.count_button:active{
    box-shadow:0 2px 0 0 #acacac;
    transform: translateY(-2px);
}
.count_reset_button{
    margin-left: 8%;
}
