@charset "UTF-8";

body{
    margin:0;
}
header{
    background-color: #333;
    color: #fff;
    padding: 10px;
}
h1 {
    text-align: center;
    margin: 10px auto;
}
.mkj_text{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.member_list {
    margin: 0 auto;
    display: flex;
    list-style:none;
    text-align: center;
    padding: 0;
}
.member {
    flex: auto;
    font-weight: bold;
    font-size: 30px;
    background-color: #333;
    padding-bottom: 5px;
    border-right: dotted 5px #fff;
    border-top: dotted 5px #fff;
    border-collapse: collapse;
}
.member_right{
    flex: auto;
    font-weight: bold;
    font-size: 30px;
    background-color: #333;
    padding-bottom: 5px;
    border-top: dotted 5px #fff;
    border-collapse: collapse;
}
.member:hover{
    background-color: #ffb923;
}
.member_right:hover{
    background-color: #ffb923;
}
.member_link {
        text-decoration: none;
    color: #fff;
}
.member_link:visited{
    color:#ffffff;
}
.task {
    margin-left: 8%;
    font-weight: bold;
}
.count_button_space {
    margin-left: 8%;
}
.background_color_change{
    margin-left: 8%;
}
.count_button {
    border-radius: 10px;
    transform: translateY(-6px);
    box-shadow:0 6px 0 0 #acacac;
}

.count_button:active{
    box-shadow:0 2px 0 0 #acacac;
    transform: translateY(-2px);
}
.count_reset_button{
    margin-left: 8%;
}
.clock{
 margin-left: 8%;   
}
.reset_button{
    border-radius: 10px;
    transform: translateY(-6px);
    box-shadow:0 6px 0 0 #acacac;   
}
.reset_button:active{
    box-shadow:0 2px 0 0 #acacac;
    transform: translateY(-2px);
}
.omikuji_button{
    margin-left: 8%;
    border-radius: 10px;
    transform: translateY(-6px);
    box-shadow:0 6px 0 0 #acacac;   
}
.omikuji_button:active{
    box-shadow:0 2px 0 0 #acacac;
    transform: translateY(-2px);
}
#result{
    margin-left: 8%;
}